<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_name }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{{ url('static', filename='css/style.css') }}" rel="stylesheet" type=text/css>
    <script src="{{ url('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url('static', filename='js/copyLink.js') }}"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row title">
        <div class="col text-center">
            <p class="text-primary display-2 font-weight-bold">{{ site_name }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-2">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text">https://</span>
                </div>
                <input class="form-control text-center" id="url" name="url" placeholder="Input your link" type="text">
            </div>
        </div>

        <div class="col-2">
            <div class="input-group input-group-lg">
                <input class="form-control text-center" name="days" type="text" value="90">
                <div class="input-group-append">
                    <span class="input-group-text">days active</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-7 offset-2 text-center">
            <button class="btn btn-secondary" id="submitButton">Shorten</button>
        </div>
    </div>

    <div class="row">
        <div class="col-7 offset-2 text-center">
            <h4>
                <p class="display-4 text-info" id="url-result">Enter URL</p>
            </h4>
        </div>
    </div>

</div>
</body>
</html>